{% load static %}
<head>
    <!-- <link rel="stylesheet" href="https://drive.google.com/drive/folders/1TPPjMIp-PtshVHIisLPwLgvE4YazTk-O?usp=sharing"> -->
    <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/FXcD7ZW/logo-green.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForCrash</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="logotext" href="/index">
            <img src="https://i.ibb.co/CJ3rr49/logo-with-text.png" height="35" style="text-decoration: none;" alt="">
          </a>
            <ul class="nav justify-content-end">
              <div class="dropdown">
                <li class="nav-item">
                  <div class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://i.ibb.co/rF0bC3r/dots.png" height="25" style="text-decoration: none;" alt="">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" style="font-family: 'Prompt', sans-serif ;" role="menu" aria-labelledby="dLabel">            
                      <li><a class="dropdown-item" href="/instruction">วิธีการใช้งาน</a></li>
                      <li><a class="dropdown-item" a href="/aboutus">เกี่ยวกับเรา</a></li>
                    </ul>
                  </div>
                </li>
              </div>   
            </ul>
        </div>
      </nav>
</body>
{% block content%}
{% endblock%}
</html>