
{%extends 'layout1.html' %} 
{% block content%}
<style>
    @import url('https://fonts.googleapis.com/css?family=Kanit|Prompt');
    body {
        background-color: #C0DDED;
        background-repeat: no-repeat;
        background-size: 1800px 740px;
        background-position: top;
        background-attachment: fixed;
        }
    h2   {
        font-size: 25px;
        font-family: 'Kanit', sans-serif;
        color: black;
        }      
    h3   {
        font-size: 16px;
        font-family: 'Kanit', sans-serif;
        color: white;
        }  
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .box {  
        font-size: 16px;
        font-family: 'Kanit', sans-serif;
        border-radius: 25px;
        background-color: whitesmoke;
        padding: 20px;
        margin-top: 40px;
    }

    .box_loyout {
        border-radius: 15px;
        max-width: 700px;
        margin: auto;
    }
    .submit_button {
        background-color:#627CAD ;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        width: 320px;
        color: white;
        padding: 4px;
    }
    .submit_button2 {
        background-color:#FB6F4E ;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        width: 320px;
        color: white;
        padding: 4px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<body>
{% for message in messages %}
    {% if 'success' == message.tags %}
        <div id=mainAlertMessage class="alert alert-success alert-dismissible fade show" role="alert" style="font-family: Kanit; text-align: center;">
            <strong>{{ message }} กรุณาเข้าสู่ระบบอีกครั้ง</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>    
    {% endif %}
    {% if 'error' == message.tags %}
        <div id=mainAlertMessage class="alert alert-danger alert-dismissible fade show" role="alert" style="font-family: Kanit; text-align: center;">
            <strong>เข้าสู่ระบบไม่เสำเร็จ!  </strong>{{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endfor %}

<form class ='box_loyout' action='/Home/' method='post'>
    {% csrf_token %} 
    <div class='form-group mx-3'>
        <div class="box">
            {% load static %}
            <img src="https://i.ibb.co/ZHPvTp7/emergencyphone-min.png" class="center" style="max-width: 30%; height: auto; margin-top: 0px;">
            <h2 style="text-align: center; font-size: 19px;" >เว็บแอปพลิเคชันสำหรับทำนายความรุนแรง</h2>
            <h2 style="text-align: center; font-size: 18px; margin-bottom: 10px;" >ของผู้บาดเจ็บจากอุบัติเหตุทางถนน</h2>
            <form class="center" action="https://httpbin.org/post" method="post">
                <p>
                    <label class="center" for="input_email">อีเมลล์ (Email)</label>
                </p>
                <p>
                    <input class="center" id="input_email" type="email" name="Email">
                </p>
                <p>
                    <label class="center" for="input_password">รหัสผ่าน (Password)</label>
                </p>
                <p>
                    <input class="center" id="input_password" type="password" name="Password"> 
                </p>
                <p>
                    <button class="submit_button" type="submit">เข้าสู่ระบบ</button>
                </p>
                <p>
                    <a class="submit_button2" style="text-align: center;" href="/register" role="button">ลงทะเบียน</a>
                    <!-- <button class="submit_button2" href="/register">ลงทะเบียน</button> -->
                </p>                
            </form>

        </div>
    </div>
    <div class="modal fade" id="ReportProblem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content" style=" font-family: 'Kanit', sans-serif;">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ระบุอีเมลล์</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <!-- <p></p> -->
            <input class="form-control" id="ReportEmail" rows="3" ></input>
            <!-- <p style="text-align: right;">ระบบจะทำการตอบกลับไปยังอีเมลล์ของท่าน</p> -->
            </div>
            <div class="modal-footer">
            <button id="btnadd" type="button" class="btn btn-primary" onclick="finddata()">ส่ง</button>
            </div>
        </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
    <script id="MainScript">
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyD3qcCh1MxUoiqk7dld7hLuGVmx--ri3hY",
            authDomain: "forcrashdemo.firebaseapp.com",
            databaseURL: "https://forcrashdemo-default-rtdb.firebaseio.com",
            projectId: "forcrashdemo",
            storageBucket: "forcrashdemo.appspot.com",
            messagingSenderId: "G-FJMZLMD0ZY",
            appId: "1:216908476609:web:872afce2e6255e1e1fe440",
        };
        firebase.initializeApp(config);
        // var Email = " {{ request.user.username }}"
        var Email = document.getElementById('ReportEmail');
        var password_ 

        
        function finddata(){
          console.log(Email.value)
          Email1 = Email.value
          firebase.database().ref('Member').once('value').then(
            function (snapshot){
              const val = snapshot.val()
              const keys = Object.keys(val)
              const data_as_array = keys.map(e => ({...val[e], _key: e}))
              const data_with_that_email = data_as_array.find(e => e.email === Email1)
            //   const key_of_data_with_that_email = data_with_that_email._key
              const password1 = data_with_that_email.password
              password_ = password1
            //   memberKey_ = key_of_data_with_that_email
            //   console.log(password_)
              alert('Your password is '+password_);
            }
          )
        }
      
      </script>
</body>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('#mainAlertMessage').fadeOut('slow');
        }, 3000); // <-- time in milliseconds, 1000 =  1 sec
    });
</script>
{% endblock%}